/* Général*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{ 
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

:root{
    --black:#000;
    --red:#f60303;
    --white:#fff;
    --grey:#c1c1c1;
    --lightgrey:#f1f1f1;
}

h2{
    font-size: 22px;
}

h3{
   font-size: 18px; 
}

/* Header */

header{
    padding: 15px 20px;
    max-width:1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding-right: 10px;
}

header a{
    text-decoration: none;
    color: var(--black);
}

/* Main */

main{
    max-width: 1440px;
    margin: auto;
    padding: 10px 20px;
}

main > section > article{
    margin: 30px 0;
}

form i{
    color: var(--white);
    background-color: var(--red);
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    padding: 3px 4px;
}

.recherche{
    display: flex;
}

section button{
    background-color: var(--red);
    color: var(--white);
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--red);
}

.filtres{
    max-width: 1440px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.filtres i{
    color: var(--red);
}

.filtres a{
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--red);
    border-radius: 10px;
    padding: 7px 10px;
}


main > section > article > p i{
    color: var(--red);
}

.seconde-partie{
    background-color: var(--lightgrey);
    border-radius: 15px;
    max-width: 66%;
    padding: 30px 0;
}

.seconde-partie i{
    color: var(--red);
}

.seconde-partie i.grey{
    color: var(--grey);
}

.seconde-partie h2{
    padding-left: 45px;
}

.seconde-partie a{
    text-decoration: none;
    color: var(--black);
}

.seconde-partie .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 40px;
    gap: 40px; 
}

.seconde-partie .card{
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 15px;
    margin-top: 20px;
    flex: 1 0 27%;
}

.seconde-partie .card img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    
}

#accomodations{
    display: flex;
    justify-content:space-between;
    margin-bottom: 40px;
}

/* Aside */


.aside-partie{
    background-color: var(--lightgrey);
    padding: 30px;
    border-radius: 15px;
}

.aside-partie .cards{
    max-width: 335px;
    margin-top: 40px;
}

.aside-partie .card{
    background-color: var(--white);
    display: flex;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 2px solid var(--white);
}

.aside-partie .card img{
    width: 95px;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

.aside-partie i{
    color: var(--red);
}

.aside-partie i.grey{
    color: var(--grey);
}

.aside-partie h2{
    margin-bottom: 10px;
}

.aside-partie .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.troisieme-partie{
    max-width: 1440px;
    margin-bottom: 40px;
}

.troisieme-partie h2{
    margin-bottom: 40px;
}

.troisieme-partie h3{
    text-align: center;
    padding: 20px 0;
}

.troisieme-partie img{
    width: 100%;
    object-fit: cover;
    height: 380px;
    border-radius: 15px 15px 0 0;
}

.card-troisieme{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card-troisieme .card{
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 15px;
    flex: 1 0 27%;
}

/* Footer */

footer ul{
    list-style: none;
    padding:0;
}
footer a{
    text-decoration: none;
    color:var(--black);
}

.pied-de-page li{
    margin: 10px 0;
}

.pied-de-page{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap:20%;
    background-color: var(--lightgrey);
    padding: 50px;
}

.bas-de-page{
    text-align: center;
    padding: 30px 0;
}