/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Général*/

*{ 
    margin: 0;
    font-family:var(--primary-font);
    scroll-behavior:smooth; /*défiler la page en effet scrollant*/
}

:root{
    --black:#000;
    --red:#f60303;
    --white:#fff;
    --grey:#c1c1c1;
    --lightgrey:#f1f1f1;
    --primary-font: "Open Sans", sans-serif; 
}

h1,
h2{
    font-size: 22px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 16px;
}

a{
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    color: var(--black);
    text-decoration: none;

    &:hover{
        color: var(--red);
        transition: all 0.2s ease-in-out;
    }
}

/* Header */

header{
    padding: 0px 20px;
    max-width:1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header img{
    padding-top: 15px;
}
header ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 10px;
}

header li{
    border-top: 1px solid transparent;
    padding-top: 50px;
}

header nav a{
    text-decoration: none;
    color: var(--black);
    padding-top: 15px;

    &:hover{
    border-top: 2px solid var(--red);
    width: 50%;
    padding-top: 50px; 
    transition: all 0.2s ease; 
    }
}

/* Main */

main{
    max-width: 1440px;
    margin: auto;
    padding: 10px 20px;
}

main > section > article{
    margin: 30px 0;
}

form i{
    color: var(--white);
    background-color: var(--red);
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    padding: 3px 4px;
}

.recherche{
    display: flex;
}

button{
    background-color: var(--red);
    color: var(--white);
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--red);
}

.hidden{
    display: none;
}

.filtres{
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.filtres i{
    color: var(--red);

    &:hover{
    color: var(--white)
    }
}
/* a et i doivent hover ensemble */

.filtres a{
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--red);
    border-radius: 10px;
    padding: 7px 10px;
    
    &:hover{
    background-color: var(--red);
    color: var(--white);
    }
}

main > section > article > p i{
    color: var(--red);
}

.seconde-partie{
    background-color: var(--lightgrey);
    border-radius: 15px;
    max-width: 66%;
    padding: 30px 0;
}

.seconde-partie i{
    color: var(--red);
}

.seconde-partie i.grey{
    color: var(--grey);
}

.seconde-partie h2{
    padding-left: 45px;
}

.seconde-partie a{
    text-decoration: none;
    color: var(--black);
}

.seconde-partie .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 40px;
    gap: 40px; 
}

.seconde-partie .card{
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 15px;
    margin-top: 20px;
    flex: 1 0 27%;
    position: relative;
    box-shadow: 0px 2px 15px var(--grey);
    overflow: hidden;
}

.seconde-partie .card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

    &:hover{
    filter:grayscale(100%);
    transform:scale(1.02);
    }
}

.seconde-partie .etoiles{
    margin-top: 20px;
}

#accomodations{
    display: flex;
    justify-content:space-between;
    margin-bottom: 40px;
    gap: 40px;
}

.superposition p{
    position: absolute;
    background-color: var(--red);
    color: var(--white);
    right: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size:13px
}

/* Aside */

.aside-partie{
    background-color: var(--lightgrey);
    padding: 30px;
    border-radius: 15px;
}

.aside-partie .card a{
    background-color: var(--white);
    display: flex;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 2px solid var(--white);
}


.aside-partie .card img{
    width: 95px;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    
    &:hover{
    filter:grayscale(100%);
    transform:scale(1.02);
    }
}

.aside-partie i{
    color: var(--red);
}

.aside-partie i.grey{
    color: var(--grey);
}

.aside-partie h2{
    margin-bottom: 10px;
}

.aside-partie .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.aside-partie a{
    text-decoration: none;
    color: var(--black);
}

.superposition-aside p{
    font-size:13px
}

.card .superposition-aside{
    position: relative;
    z-index: 1;
}

.superposition-aside p{
    position: absolute;
    z-index: 2;
    background-color: var(--red);
    color: var(--white);
    right: 30px;
    top: 5px;
    border-radius: 5px;
    padding: 5px;
}

/* section 3 */

.troisieme-partie{
    max-width: 1440px;
    margin-bottom: 40px;
}

.troisieme-partie h2{
    margin-bottom: 40px;
}

.troisieme-partie h4{
    text-align: center;
    padding: 20px 0;
}

.troisieme-partie img{
    width: 100%;
    object-fit: cover;
    height: 380px;
    border-radius: 15px 15px 0 0;
    
    &:hover{
    filter:grayscale(100%);
    transform:scale(1.02);
    }
}

.card-troisieme{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card-troisieme .card {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 15px;
    flex: 1 0 20%;
}

.troisieme-partie a{
    text-decoration: none;
    color: var(--black);
}

/* Footer */

footer ul{
    list-style: none;
    padding:0;
}
footer a{
    text-decoration: none;
    color:var(--black);
    }

.pied-de-page li{
    margin: 10px 0;
}

.pied-de-page{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap:20%;
    background-color: var(--lightgrey);
    padding: 50px;
}

.bas-de-page{
    text-align: center;
    padding: 30px 0;
}

/* Format tablette */

@media (max-width: 1024px){
    #accomodations{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .seconde-partie{
        max-width: 100%;
    }

    .seconde-partie .card{
        flex: 1 0 40%;
    }

    .aside-partie .cards{
        max-width: 100%;
    }

    .aside-partie .card img{
        width: 150px;
    }

    .card-troisieme{
        display: flex;
        flex-wrap: wrap;
    }

    .troisieme-partie .card{
        flex: 1 0 47%;;
        width:50%;
    }
}

/* Format téléphone */

@media (max-width: 767px){
    
    header{
        flex-direction: column;
        
        ul{
            padding: 0 30px;
            display: flex;
            justify-content: center;

            li a{
                padding-bottom: 15px;
                display: flex;
                justify-content: center;
}
                &:hover{
                    border-top: none;
                    border-bottom: 1px solid red;
                    padding-top:0;
                    }
                }
        }
        img{
            margin-left: 40px;
        }
    }
    .hidden{
        display: block;
    }

    .desktop{
        display: none;
    }

    .filtres{
        gap: 9px;
    }

    #accomodations{
        display: flex;
        flex-direction: column-reverse;
    }

    .aside-partie .card img{
        width: 20%;
    }

    .seconde-partie .card{
        flex: 1 0 47%;
    }

    .troisieme-partie{
        display: flex;
        flex-direction: column;
    }

    .troisieme-partie .card{
        flex: 1 0 48%;
    }
    
    .pied-de-page{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
