/* Général*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{ 
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

:root{
    --black:#000;
    --red:#f60303;
    --white:#fff;
    --grey:#c1c1c1;
    --lightgrey:#f1f1f1;
}

h2{
    font-size: 22px;
}

h3{
   font-size: 18px; 
}

/* Header */

header{
    padding: 15px 20px;
    max-width:1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: var(--black);
}

/* Main */
main{
    max-width: 1440px;
    margin: auto;
    padding: 10px 20px;
}

main > section > article{
    margin: 30px 0;
}

.recherche{
    display: flex;
}

section button{
    background-color: var(--red);
    color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--red);
}

.filtres{
    max-width: 1440px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.filtres i{
    color: var(--red);
}

.filtres a{
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--red);
    border-radius: 10px;
    padding: 7px 10px;
}

main > section > article > p i{
    color: var(--red);
}

.seconde-partie{
    background-color: var(--lightgrey);
    border-radius: 15px;
    max-width: 66%;
    padding: 30px 0;
}

.seconde-partie i{
    color: var(--red);
}

.seconde-partie i.grey{
    color: var(--grey);
}

.seconde-partie h2{
    padding-left: 45px;
}

.seconde-partie a{
    text-decoration: none;
    color: var(--black);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 40px;
    
}

.seconde-partie .card{
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 15px;
    margin-top: 20px;
}

.seconde-partie .card img{
    max-width: 270.64px;
    border-radius: 15px 15px 0 0;
}

#accomodations{
    display: flex;
    justify-content:space-between;
}

/* Aside */

aside{
    max-width:33%;
}

.aside-partie{
    background-color: var(--lightgrey);
    padding: 30px;
    border-radius: 15px
}

.aside-partie .card{
    background-color: var(--white);
    display: flex;
    max-width: 335px;
}

.aside-partie .card img{
    width: 95px;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

.aside-partie i{
    color: var(--red);
}

.aside-partie i.grey{
    color: var(--grey);
}

.troisieme-partie{
    max-width: 1440px;
}

.troisieme-partie img{
    max-width:322.5px;
}

.card-troisieme{
    display: flex;
}

/* Footer */

footer ul{
    list-style: none;
    padding:0;
}
footer a{
    text-decoration: none;
    color:var(--black);
}

.pied-de-page{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap:20%;
    background-color: var(--lightgrey);
    padding: 50px;
}

.bas-de-page{
    text-align: center;
    padding: 30px 0;
}